.emojione, .twemoji, .gemoji {
    display: inline-flex;
    vertical-align: text-top;
    height: 1.125em;
}

svg emojione, svg .twemoji, svg .gemoji {
    width: 1.125em;
    max-height: 100%;
    fill: currentcolor;
}
